@keyframes shrinkWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes fadeInRightFadeOutRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  15% {
    opacity: 1;
    transform: translateX(0);
  }
  85% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.fade-in-right-fade-out-right {
  animation: fadeInRightFadeOutRight 3s ease-in-out forwards;
}
.animated-width {
  animation: shrinkWidth 2.5s ease-in-out forwards;
}

.modal-container {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 1000; /* adjust the z-index value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}
