<div class="h-full bg-base-200 p-3">
  <h1 class="font-bold text-3xl w-full mb-5 font-sans">TASK OVERVIEW</h1>

  <div class="flex justify-between my-5">
    <div class="form-control">
      <input type="text" placeholder="Search Tasks" class="input input-bordered input-sm w-24 md:w-auto"
        (keypress)="searchItems(searchInput.value)" #searchInput (input)="searchItems(searchInput.value)" />
    </div>
    <div role="tablist" class="tabs tabs-bordered gap-6 max-w-sm">
      <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="All" checked
        (change)="filterItems('all')" />
      <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Not&nbsp;started"
        (change)="filterItems('not-started')" />
      <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="In&nbsp;progress"
        (change)="filterItems('in-progress')" />
      <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Done" (change)="filterItems('done')" />
    </div>
  </div>
  <div class="grid lg:grid-cols-3 gap-4 sm:grid-cols-1 md:grid-cols-2 sm:px-5 md:px-0">
    <div *ngFor="let task of originalTasks">
      <app-dashboard-card [inputData]="task" (outputData)="showUpdateForm($event)"
        (outputDataId)="handleOutputData($event)"></app-dashboard-card>
    </div>
  </div>
</div>

<button class="btn btn-lg btn-circle fixed bottom-5 right-5 bg-primary hover:opacity-60 hover:bg-primary"
  onclick="add_task_modal.showModal()">
  <span class="text-3xl text-white mt-[-5px]">+</span>
</button>
<dialog id="add_task_modal" class="modal p-0">
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
  <div class="modal-box py-1">
    <app-task-form (status)="onStatusChange($event)" />
  </div>
</dialog>

<dialog id="update_task_modal" class="modal p-0">
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
  <div class="modal-box py-1">
    <app-task-form (status)="onStatusChange($event)" [taskData]="dataToEdit" />
  </div>
</dialog>

@if(actionSuccess){
<div class="bg-success w-full m-3 max-w-xs fixed bottom-2 right-2 rounded fade-in-right-fade-out-right">
  <div class="alert alert-success py-3" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    {{ actionMessage }}
  </div>
  <div class="bg-gray-500 opacity-40">
    <div class="bg-gray-800 h-[5px] animated-width" id="progress-bar"></div>
  </div>
</div>
} @if(actionFailure){
<div class="bg-error w-full m-3 max-w-xs fixed bottom-2 right-2 rounded fade-in-right-fade-out-right">
  <div class="alert alert-error py-3" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    {{ actionMessage }}
  </div>
  <div class="bg-gray-500 opacity-40">
    <div class="bg-black h-[5px] animated-width" id="progress-bar"></div>
  </div>
</div>
} @if(showModal){
<div class="modal-container">
  <div class="modal-box justify-center">
    <h2 class="font-bold text-2xl">Delete Confirmation</h2>
    <p class="py-4 text-lg">Are you sure you want to delete the item?</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn btn-error mr-3" (click)="deleteCard(taskId)">
          Delete
        </button>
        <button class="btn btn-neutral" (click)="closeModal()">Cancel</button>
      </form>
    </div>
  </div>
</div>
}