.truncate-p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.7rem !important;
  text-align: left !important;
}

.grabbing {
  cursor: grabbing;
}
