<div class="bg-base-300 min-h-screen p-20">
  <div class="hero">
    <div class="hero-content flex-col lg:flex-row gap-10">
      <img
        src="https://img.freepik.com/free-vector/flat-design-kanban-illustration_23-2149337644.jpg?w=740&t=st=1713760924~exp=1713761524~hmac=2563169b7830989ba347c725948e124879f7220c539e87203f8dbec46c8a2290"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-5xl font-bold">Welcome to TaskMaster</h1>
        <br />
        <br />
        <h2 class="text-3xl font-bold">
          Your Ultimate Task Management Solution
        </h2>
        <p class="py-6">
          Take control of your tasks and make the most out of every day with
          TaskMaster. Sign up now and discover how easy it is to stay organized
          and focused on what matters most to you.
        </p>
        <button class="btn btn-primary" routerLink="signup">Get Started</button>
      </div>
    </div>
  </div>
</div>
