@keyframes shrinkWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes fadeInRightFadeOutRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  15% {
    opacity: 1;
    transform: translateX(0);
  }
  85% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.fade-in-right-fade-out-right {
  animation: fadeInRightFadeOutRight 3s ease-in-out forwards;
}
.animated-width {
  animation: shrinkWidth 2.5s ease-in-out forwards;
}
