@if (isLoggedIn()) {
<button class="btn btn-lg btn-circle fixed bottom-5 right-5 bg-primary hover:opacity-60 hover:bg-primary"
    onclick="add_task_modal.showModal()">
    <span class="text-3xl text-white mt-[-5px]">+</span>
</button>
<dialog id="add_task_modal" class="modal p-0">
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
    <div class="modal-box py-1">
        <app-task-form (status)="onStatusChange($event)" />
    </div>
</dialog>
}
@else {
<app-login />
}
@if(actionSuccess){<div
    class="bg-success w-full m-3 max-w-xs fixed bottom-2 right-2 rounded fade-in-right-fade-out-right">
    <div class="alert alert-success py-3" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Card saved successfully!!
    </div>
    <div class="bg-gray-500 opacity-40">
        <div class="bg-gray-800 h-[5px] animated-width" id="progress-bar"></div>
    </div>
</div>
} @if(actionFailure){
<div class="bg-error w-full m-3 max-w-xs fixed bottom-2 right-2 rounded fade-in-right-fade-out-right">
    <div class="alert alert-error py-3" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Failed to save card!!
    </div>
    <div class="bg-gray-500 opacity-40">
        <div class="bg-black h-[5px] animated-width" id="progress-bar"></div>
    </div>
</div>
}